body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif; /* Fuente más elegante y legible para textos largos */
    background-color: #faf4ee; /* Color de fondo suave y cálido */
    color: #5a5753; /* Color de texto suave para fácil lectura */
    line-height: 1.8; /* Espacio entre líneas para mejorar la legibilidad */
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #102e49; /* Color oscuro pero suave para los títulos */
}

.contenido {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo ligeramente transparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para el contenedor */
}

.portada {
    background-image: url('ruta/a/una/imagen/tematica.jpg'); /* Imagen de fondo relevante al tema */
    background-size: cover;
    background-position: center;
    color: #1b1925; /* Color de texto para contraste con el fondo oscuro */
    padding: 120px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra en los textos para mejorar la legibilidad */
}

.boton {
    display: block;
    width: 200px;
    padding: 10px 20px;
    background-color: #BF4C0A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 20px auto; /* Centrado del botón */
}

.boton:hover {
    background-color: #F2A766;
}

.escritos, .escrito {
    background-color: #ffffff; /* Fondo claro para las tarjetas de escritos */
}

.escrito h2, .escrito p {
    color: #333; /* Texto oscuro para mejor contraste */
}

/* Ajustes para la visualización en móviles */
@media (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .contenido, .portada {
        padding: 10px;
    }
}
